name: Cron Job Tests
on:
  schedule:
    - cron: "*/5 * * * *" 
  workflow_dispatch:
jobs:
  build:
    if: github.event_name != 'schedule' || vars.ENABLE_CRON == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'
        cache: maven
    - name: Test with Maven
      run: mvn test
